* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
}

.navbar a {
  color: #e5e7eb;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.hero-buttons {
  margin-top: 20px;
}

.btn {
  padding: 12px 25px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  margin: 5px;
  border-radius: 30px;
  font-weight: bold;
}

.btn.outline {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* SECTIONS */
section {
  padding: 80px 40px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* ABOUT */
.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.stats h3 {
  color: #38bdf8;
}

/* SKILLS */
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skill-list span {
  background: #020617;
  padding: 10px 20px;
  border-radius: 20px;
}

/* PROJECTS */
.project-card {
  background: #020617;
  padding: 25px;
  margin: 20px 0;
  border-radius: 10px;
}

.project-card a {
  color: #38bdf8;
  margin-right: 15px;
}

/* CONTACT */
.contact {
  text-align: center;
}

.socials i {
  font-size: 24px;
  margin: 10px;
  color: #38bdf8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
