* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

section {
  padding: 50px 30px;
}

#home {
  background: white;
  text-align: center;
}

#projects .project {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 6px;
}

#contact {
  background: #111;
  color: white;
  text-align: center;
}

footer {
  text-align: center;
  padding: 15px;
  background: #000;
  color: white;
}
section {
  max-width: 1000px;
  margin: auto;
}
@media (max-width: 600px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header nav {
    margin-top: 10px;
  }

  header a {
    display: inline-block;
    margin: 5px 10px;
  }
}
